<!-- home.html -->

{% extends "base.html" %}
{% block title %}muse{% endblock %}

{% block content %}

<div class="container">
    <h1 align="center">Art Location</h1>

    <!-- Search Bar -->
    <form action="{{ url_for('views.home') }}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search by name...">
            <button type="submit" class="btn btn-primary ml-2">Search</button>
        </div>
    </form>

    <form action="{{ url_for('views.home') }}" method="get" class="mb-3">
    <div class="input-group text-center">
    <label for="sort_order" style="margin-right: 10px; margin-top: 5px;">Sort Order:</label>
    <select name="sort" id="sort_order" class="form-control">
        <option value="desc" {% if request.args.get('sort') == 'desc' %}selected{% endif %}>Desc</option>
        <option value="asc" {% if request.args.get('sort') == 'asc' %}selected{% endif %}>Asc</option>
    </select>

    <label for="sort_by" style="margin-right: 10px; margin-left: 10px; margin-top: 5px;">Sort by:</label>
    <select name="sort_by" id="sort_by" class="form-control">
        <option value="reviews" {% if request.args.get('sort_by') == 'reviews' %}selected{% endif %}>Number of Reviews</option>
        <option value="rating" {% if request.args.get('sort_by') == 'rating' %}selected{% endif %}>Average Rating</option>
    </select>

    <button type="submit" class="btn btn-primary ml-2">Apply</button>
</div>
</form>




  <!-- Display Images with Location Names, Descriptions, Review Counts, and Average Rating -->
<div class="image-gallery" align="center">
    {% for image in ArtLocation %}
        {% if image.location_image %}
            <div class="image-container" style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); display: flex; align-items: center;">
                <a href="{{ url_for('views.all_reviews', location_id=image.location_id) }}">
                <img src="data:image/png;base64,{{ image.location_image }}" alt="{{ image.location_name }}" style="max-width: 100%; max-height: 200px; border-radius: 8px; flex-shrink: 0;">
                </a>
                <div style="flex-grow: 1; padding-left: 10px;">
                    <h4>{{ image.location_name }}</h4>
                    <p>{{ image.location_description }}</p>
                    <p>Number of Reviews: {{ image.num_reviews }}</p>
                    <!-- Display the average rating here -->
                    <p>Average Rating: {{ image.average_rating }}</p>
                </div>
            </div>
            <!-- Display the description here -->
            <p style="font-size: 16px; padding: 0 10px;"><strong>Description:</strong> {{ image.description }}</p>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}
