{% extends 'base.html' %}

{% block title %}Welcome to muse{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-4 text-center">Welcome to muse</h1>
    <p class="lead text-center">Don't just enjoy art, be amused by it.</p>
    <hr class="my-4">
    <p class="text-center">Explore a world of creativity, expression, and inspiration. muse is your gateway to a captivating artistic journey.</p>
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg mr-5" href="/login" role="button">Login</a>
      <a class="btn btn-primary btn-lg ml-5" href="/sign-up" role="button">Sign Up</a>
    </p>
  </div>
{% endblock %}
