{% extends "base.html" %}
{% block title %}muse Map{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    div#navbar.collapse.navbar-collapse .nav-item.nav-link#map {
        width: 50px;
        height: 40px;
        position: relative;
        top: 4px;
        left: 5px;
    }
</style>

<div class="filter-search-container">
    <form method="get" class="filter-form">
        <label for="location-type">Filter by Location Type:</label>
        <select name="location_type" id="location-type" class="styled-dropdown">
            <option value="all">All</option>
            <option value="Statue">Statue</option>
            <option value="Sculpture">Sculpture</option>
            <option value="Music Venue">Music Venue</option>
            <option value="Museum">Museum</option>
            <option value="Gallery">Gallery</option>
            <option value="Event Venue">Event Venue</option>
        </select>
        <button type="submit" class="apply-button">Apply Filter</button>
    </form>

    <form method="get" class="search-form">
        <label for="search">Search by Address or Installation Name:</label>
        <input type="text" name="search" id="search" placeholder="Enter address or name">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<div id="map-container" style="width: 70%; height: 400px; margin: auto;">
    {{ folium_map_html | safe }}
</div>

{% endblock %}
