.filter-search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter-form,
.search-form {
    flex: 1;
    margin-right: 10px;
}

/* Styles for filter form */
.filter-form {
    margin-bottom: 20px;
}

.search-form {
    margin-bottom: 20px;
}

.styled-dropdown {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

.filter-form .apply-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-form .apply-button:hover {
    background-color: #45a049;
}

/* Styles for search form */
.search-form {
    display: flex;
    align-items: center;
}

#address {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

.search-form .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form .search-button:hover {
    background-color: #45a049;
}

/* Additional styles */
div#navbar.collapse.navbar-collapse .nav-item.nav-link#map {
    width: 50px;
    height: 40px;
    position: relative;
    top: 4px;
    left: 5px;
}


